nav{

    background-color: rgba(255, 255, 255, 0.979);
    width: 100%;
    height: auto;
    border-radius: 0px !important;
}
nav .navbar-nav {
    margin-top: 12px;
}
nav .navbar-nav a{
    color: var(--main-color);
    font-weight: 600;
    letter-spacing: 1px;
    margin-right: 10px;
    font-size: 17px;

}
nav .navbar-nav .active{
    color: var(--orange-color)!important;
    margin-left: 790px;
}

nav .navbar-nav .activelogout{
    color: var(--main-color)!important;
    margin-left: 10px;
}
